{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "es2015-rollup",
        "react",
        "stage-2"
    ],
    "plugins": [
        "external-helpers",
        "transform-decorators-legacy"
    ]
}